/*: Estilos de la clase de Javascript */
.botonBx {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
button {
  margin: 3.75rem 0.625rem;
  padding: 0.31rem;
  outline: none;
  cursor: pointer;
  border-radius: 0.31rem;
  width: 5rem;
  min-height: 3.125rem;
  color: white;
}
button:hover {
  cursor: pointer;
  opacity: 0.7;
}
.btn1 {
  background: darksalmon;
  border: 1px solid darksalmon;
}
.btn2 {
  background: aqua;
  border: 1px solid aqua;
}
.btn3 {
  background: darkcyan;
  border: 1px solid darkcyan;
}
.btn4 {
  background: burlywood;
  border: 1px solid burlywood;
}
.box {
  width: 60%;
  min-height: 3.125rem;
  color: white;
  border-radius: 0.31rem;
  border: 1px solid white;
}
.box button {
  color: black;
}
#imagen {
  margin: auto;
  width: 250px;
  height: 250px;
  overflow: hidden;
}
#imagen img {
  width: 100%;
  box-sizing: border-box;
  padding: 30px;
}
